In [1]:
import pandas as pd

In [2]:
all_nq = pd.read_pickle('/home/tomek/ib_tools/notebooks/freeze/backtest/all_bars_df_NQM0.pickle')
all_es = pd.read_pickle('/home/tomek/ib_tools/notebooks/freeze/backtest/all_bars_df_ESM0.pickle')
candles_nq = pd.read_pickle('/home/tomek/ib_tools/notebooks/freeze/backtest/freeze_df_NQM0.pickle')
candles_es = pd.read_pickle('/home/tomek/ib_tools/notebooks/freeze/backtest/freeze_df_ESM0.pickle')

In [7]:
candles_nq[~candles_nq.backfill].head(50)

,backfill,open,high,low,close,price,volume,ema_fast,ema_slow,atr,signal,filter,filtered_signal
date,,,,,,,,,,,,,
2018-06-01 03:34:00,False,6976.25,6993.00,6975.00,6987.75,6987.75,10014,6980.351712,6967.356585,15.643889,0.0,1.0,0.0
2018-06-01 09:01:00,False,6988.75,7007.75,6979.00,7005.25,7005.25,10043,6988.651142,6967.989500,15.795949,0.0,1.0,0.0
2018-06-01 12:11:00,False,7005.50,7006.50,6991.00,6999.50,6999.50,10018,6992.267428,6968.515712,15.792517,0.0,1.0,0.0
2018-06-01 14:30:00,False,7000.00,7010.00,6995.75,6997.75,6997.75,10660,6994.094952,6969.003830,15.774640,0.0,1.0,0.0
2018-06-01 15:01:30,False,6997.25,7017.00,6993.00,7014.75,7014.75,10091,7000.979968,6969.767513,15.869917,0.0,1.0,0.0
2018-06-01 15:32:00,False,7014.75,7016.75,7008.50,7011.75,7011.75,10146,7004.569979,6970.468251,15.781700,0.0,1.0,0.0
2018-06-01 15:36:00,False,7011.75,7033.75,7009.25,7031.25,7031.25,11046,7013.463319,6971.482606,15.882580,1.0,1.0,1.0
2018-06-01 15:45:00,False,7031.50,7034.50,7024.75,7032.50,7032.50,10260,7019.808879,6972.500731,15.811657,1.0,1.0,1.0
2018-06-01 15:56:00,False,7032.75,7036.75,7026.50,7036.00,7036.00,10368,7025.205920,6973.560101,15.747370,1.0,1.0,1.0
2018-06-01 16:07:00,False,7036.00,7040.75,7032.25,7034.00,7034.00,10190,7028.137280,6974.568277,15.663640,0.0,1.0,0.0
2018-06-01 16:16:00,False,7034.00,7039.00,7024.50,7024.75,7024.75,10993,7027.008186,6975.405212,15.650203,0.0,1.0,0.0
2018-06-01 16:20:00,False,7024.75,7047.25,7020.25,7044.50,7044.50,10818,7032.838791,6976.557410,15.781197,1.0,1.0,1.0
2018-06-01 16:22:30,False,7044.50,7059.75,7042.50,7059.00,7059.00,10928,7041.559194,6977.931988,15.798141,1.0,1.0,1.0
2018-06-01 16:29:30,False,7058.75,7061.50,7050.25,7051.00,7051.00,10406,7044.706129,6979.150087,15.745700,0.0,1.0,0.0
2018-06-01 16:41:30,False,7051.25,7058.25,7046.25,7054.25,7054.25,10011,7047.887420,6980.401882,15.702532,0.0,1.0,0.0
2018-06-01 16:49:30,False,7054.25,7060.00,7047.25,7059.75,7059.75,10139,7051.841613,6981.724303,15.668521,1.0,1.0,1.0
2018-06-01 16:57:00,False,7059.50,7072.75,7059.25,7069.50,7069.50,10235,7057.727742,6983.186978,15.643553,1.0,1.0,1.0
2018-06-01 17:11:00,False,7069.25,7074.75,7066.25,7071.00,7071.00,10132,7062.151828,6984.650078,15.561341,1.0,1.0,1.0
2018-06-01 17:28:00,False,7071.25,7074.75,7065.50,7070.00,7070.00,10009,7064.767885,6986.071950,15.488740,0.0,1.0,0.0
2018-06-01 17:42:00,False,7070.00,7079.00,7065.50,7076.75,7076.75,10068,7068.761924,6987.582389,15.465874,1.0,1.0,1.0
2018-06-01 18:03:00,False,7077.00,7083.50,7074.75,7081.25,7081.25,10089,7072.924616,6989.142424,15.388689,1.0,1.0,1.0
2018-06-01 18:32:00,False,7081.25,7085.75,7077.75,7081.25,7081.25,10325,7075.699744,6990.676284,15.303809,0.0,1.0,0.0
2018-06-01 19:01:30,False,7081.00,7084.00,7076.50,7083.75,7083.75,10057,7078.383163,6992.226041,15.214200,1.0,1.0,1.0
2018-06-01 19:25:00,False,7083.50,7090.50,7082.00,7089.50,7089.50,10695,7082.088775,6993.845538,15.137136,1.0,1.0,1.0
2018-06-01 20:04:00,False,7089.50,7090.25,7080.50,7080.75,7080.75,10327,7081.642517,6995.292222,15.075330,0.0,1.0,0.0
2018-06-01 20:28:00,False,7080.50,7084.50,7072.50,7082.25,7082.25,10112,7081.845011,6996.739622,15.040062,0.0,1.0,0.0
2018-06-01 20:52:00,False,7082.50,7084.50,7074.75,7081.00,7081.00,10094,7081.563341,6998.141963,14.979421,0.0,1.0,0.0
2018-06-01 21:19:00,False,7081.00,7083.75,7067.00,7072.75,7072.75,10061,7078.625560,6999.383518,14.999709,0.0,1.0,0.0
2018-06-01 21:47:00,False,7072.50,7080.75,7069.50,7078.50,7078.50,10040,7078.583707,7000.699951,14.956761,0.0,1.0,0.0
2018-06-01 21:58:30,False,7078.50,7086.75,7074.50,7082.50,7082.50,10288,7079.889138,7002.060886,14.925771,0.0,1.0,0.0
2018-06-01 22:10:30,False,7082.75,7087.25,7081.50,7082.75,7082.75,10060,7080.842759,7003.403193,14.820758,0.0,1.0,0.0
2018-06-04 03:39:00,False,7082.50,7099.75,7071.75,7099.00,7099.00,10021,7086.895172,7004.993327,14.971529,1.0,1.0,1.0
2018-06-04 08:53:00,False,7098.50,7110.00,7098.50,7105.25,7105.25,10007,7093.013448,7006.660798,14.931830,1.0,1.0,1.0
2018-06-04 10:55:30,False,7105.25,7115.75,7103.25,7114.25,7114.25,10035,7100.092299,7008.450039,14.904032,1.0,1.0,1.0
2018-06-04 13:44:30,False,7114.00,7120.75,7104.50,7105.00,7105.00,10051,7101.728199,7010.055532,14.919412,0.0,1.0,0.0
2018-06-04 15:24:30,False,7104.75,7110.75,7099.00,7105.25,7105.25,10080,7102.902133,7011.638326,14.883209,0.0,1.0,0.0
2018-06-04 15:33:30,False,7104.75,7116.50,7100.00,7116.00,7116.00,10662,7107.268089,7013.373374,14.901670,1.0,1.0,1.0
2018-06-04 15:41:00,False,7115.75,7122.50,7113.75,7120.25,7120.25,10227,7111.595392,7015.150062,14.831454,1.0,1.0,1.0
2018-06-04 15:50:30,False,7120.00,7128.25,7119.50,7121.75,7121.75,10283,7114.980262,7016.921982,14.762065,1.0,1.0,1.0
2018-06-04 16:02:30,False,7121.75,7128.00,7112.75,7112.75,7112.75,10648,7114.236841,7018.514702,14.767631,0.0,1.0,0.0
2018-06-04 16:13:30,False,7112.75,7117.00,7102.50,7105.75,7105.75,10064,7111.407894,7019.964472,14.764579,0.0,1.0,0.0
2018-06-04 16:27:00,False,7105.50,7123.50,7104.00,7121.75,7121.75,10134,7114.855263,7021.655901,14.818552,0.0,1.0,0.0
2018-06-04 16:41:30,False,7121.75,7123.25,7105.00,7113.00,7113.00,10153,7114.236842,7023.173685,14.857649,0.0,1.0,0.0
2018-06-04 16:59:30,False,7113.00,7125.75,7112.75,7124.00,7124.00,10107,7117.491228,7024.848880,14.836491,1.0,1.0,1.0
2018-06-04 17:14:30,False,7124.00,7131.75,7115.00,7117.00,7117.00,10175,7117.327485,7026.379808,14.858278,0.0,1.0,0.0
2018-06-04 17:33:00,False,7117.25,7127.25,7115.75,7124.00,7124.00,10135,7119.551657,7028.001459,14.820054,0.0,1.0,0.0
2018-06-04 18:02:30,False,7123.75,7130.25,7119.50,7128.75,7128.75,10013,7122.617771,7029.674938,14.773743,1.0,1.0,1.0
2018-06-04 18:22:30,False,7128.75,7144.00,7123.75,7143.00,7143.00,10196,7129.411847,7031.557166,14.836034,1.0,1.0,1.0
2018-06-04 18:51:00,False,7143.00,7150.25,7141.00,7148.25,7148.25,10097,7135.691232,7033.495174,14.772515,1.0,1.0,1.0
2018-06-04 19:34:00,False,7148.00,7151.50,7144.00,7144.00,7144.00,10030,7138.460821,7035.330268,14.689846,0.0,1.0,0.0

In [32]:
a = all_nq.loc['20180601 15:36:30': '20180601 16:17:00']

In [33]:
import numpy as np
a['t'] = a['high'] - 16
a['x'] = np.maximum.accumulate(a['t'])
a

/home/tomek/.virtualenvs/ib/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/tomek/.virtualenvs/ib/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,open,high,low,close,volume,average,barCount,t,x
date,,,,,,,,,
2018-06-01 15:36:30,7031.50,7032.00,7029.25,7031.25,717,7030.675,389,7016.00,7016.00
2018-06-01 15:37:00,7031.50,7033.00,7029.75,7029.75,673,7031.550,393,7017.00,7017.00
2018-06-01 15:37:30,7030.00,7030.50,7027.00,7029.25,643,7028.625,369,7014.50,7017.00
2018-06-01 15:38:00,7028.75,7029.50,7027.00,7027.25,424,7028.175,232,7013.50,7017.00
2018-06-01 15:38:30,7027.50,7028.00,7025.75,7027.25,591,7026.750,333,7012.00,7017.00
...,...,...,...,...,...,...,...,...,...
2018-06-01 16:15:00,7034.50,7035.75,7029.25,7030.25,1143,7031.975,544,7019.75,7024.75
2018-06-01 16:15:30,7030.00,7030.75,7025.25,7026.50,1145,7028.175,550,7014.75,7024.75
2018-06-01 16:16:00,7026.25,7027.75,7024.50,7024.75,1004,7025.725,569,7011.75,7024.75
2018-06-01 16:16:30,7024.75,7025.25,7020.25,7021.25,1422,7022.350,667,7009.25,7024.75
2018-06-01 16:17:00,7021.50,7024.50,7020.75,7024.00,812,7022.625,444,7008.50,7024.75

In [35]:
a['trigger'] = (a['x'] >= a['low'])
a

/home/tomek/.virtualenvs/ib/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,open,high,low,close,volume,average,barCount,t,x,trigger
date,,,,,,,,,,
2018-06-01 15:36:30,7031.50,7032.00,7029.25,7031.25,717,7030.675,389,7016.00,7016.00,False
2018-06-01 15:37:00,7031.50,7033.00,7029.75,7029.75,673,7031.550,393,7017.00,7017.00,False
2018-06-01 15:37:30,7030.00,7030.50,7027.00,7029.25,643,7028.625,369,7014.50,7017.00,False
2018-06-01 15:38:00,7028.75,7029.50,7027.00,7027.25,424,7028.175,232,7013.50,7017.00,False
2018-06-01 15:38:30,7027.50,7028.00,7025.75,7027.25,591,7026.750,333,7012.00,7017.00,False
...,...,...,...,...,...,...,...,...,...,...
2018-06-01 16:15:00,7034.50,7035.75,7029.25,7030.25,1143,7031.975,544,7019.75,7024.75,False
2018-06-01 16:15:30,7030.00,7030.75,7025.25,7026.50,1145,7028.175,550,7014.75,7024.75,False
2018-06-01 16:16:00,7026.25,7027.75,7024.50,7024.75,1004,7025.725,569,7011.75,7024.75,True
2018-06-01 16:16:30,7024.75,7025.25,7020.25,7021.25,1422,7022.350,667,7009.25,7024.75,True
2018-06-01 16:17:00,7021.50,7024.50,7020.75,7024.00,812,7022.625,444,7008.50,7024.75,True

In [37]:
a.iloc[50:].head(50)

,open,high,low,close,volume,average,barCount,t,x,trigger
date,,,,,,,,,,
2018-06-01 16:01:30,7036.50,7036.50,7033.75,7035.25,591,7035.150,340,7020.50,7022.25,False
2018-06-01 16:02:00,7035.25,7036.00,7034.25,7035.25,358,7035.100,185,7020.00,7022.25,False
2018-06-01 16:02:30,7035.00,7036.00,7034.50,7034.75,273,7035.275,150,7020.00,7022.25,False
2018-06-01 16:03:00,7035.00,7035.75,7033.50,7035.00,476,7034.650,259,7019.75,7022.25,False
2018-06-01 16:03:30,7035.00,7037.25,7035.00,7037.00,313,7036.225,161,7021.25,7022.25,False
2018-06-01 16:04:00,7037.00,7037.50,7035.25,7035.50,556,7036.475,255,7021.50,7022.25,False
2018-06-01 16:04:30,7035.25,7038.00,7035.00,7037.25,465,7036.775,234,7022.00,7022.25,False
2018-06-01 16:05:00,7037.25,7039.25,7037.25,7039.00,818,7038.600,359,7023.25,7023.25,False
2018-06-01 16:05:30,7039.00,7040.75,7038.50,7039.25,1048,7039.600,447,7024.75,7024.75,False
2018-06-01 16:06:00,7039.25,7039.50,7036.50,7036.50,677,7038.075,310,7023.50,7024.75,False
2018-06-01 16:06:30,7036.25,7036.75,7036.00,7036.00,544,7036.250,233,7020.75,7024.75,False
2018-06-01 16:07:00,7036.00,7036.50,7032.25,7034.00,722,7034.250,373,7020.50,7024.75,False
2018-06-01 16:07:30,7034.00,7035.00,7033.25,7034.00,351,7034.125,190,7019.00,7024.75,False
2018-06-01 16:08:00,7034.00,7034.50,7033.25,7033.50,323,7033.825,171,7018.50,7024.75,False
2018-06-01 16:08:30,7033.50,7035.00,7033.25,7033.50,489,7034.175,208,7019.00,7024.75,False
2018-06-01 16:09:00,7033.50,7038.00,7032.25,7036.75,1830,7035.350,727,7022.00,7024.75,False
2018-06-01 16:09:30,7037.00,7037.25,7032.50,7033.00,534,7034.425,317,7021.25,7024.75,False
2018-06-01 16:10:00,7033.25,7037.75,7033.00,7035.25,1305,7035.850,540,7021.75,7024.75,False
2018-06-01 16:10:30,7035.25,7036.00,7033.50,7036.00,277,7034.975,163,7020.00,7024.75,False
2018-06-01 16:11:00,7036.00,7037.75,7035.50,7036.25,342,7036.550,150,7021.75,7024.75,False
2018-06-01 16:11:30,7036.75,7037.00,7034.00,7036.75,346,7035.225,189,7021.00,7024.75,False
2018-06-01 16:12:00,7036.75,7039.00,7036.50,7037.50,381,7037.925,217,7023.00,7024.75,False
2018-06-01 16:12:30,7037.75,7039.00,7036.00,7037.50,322,7037.750,175,7023.00,7024.75,False
2018-06-01 16:13:00,7037.00,7038.25,7036.25,7036.50,235,7037.225,121,7022.25,7024.75,False
2018-06-01 16:13:30,7036.75,7038.00,7035.50,7037.00,381,7036.850,183,7022.00,7024.75,False
2018-06-01 16:14:00,7037.25,7038.00,7036.00,7036.75,198,7036.950,114,7022.00,7024.75,False
2018-06-01 16:14:30,7037.00,7037.25,7033.75,7034.00,387,7035.600,168,7021.25,7024.75,False
2018-06-01 16:15:00,7034.50,7035.75,7029.25,7030.25,1143,7031.975,544,7019.75,7024.75,False
2018-06-01 16:15:30,7030.00,7030.75,7025.25,7026.50,1145,7028.175,550,7014.75,7024.75,False
2018-06-01 16:16:00,7026.25,7027.75,7024.50,7024.75,1004,7025.725,569,7011.75,7024.75,True
2018-06-01 16:16:30,7024.75,7025.25,7020.25,7021.25,1422,7022.350,667,7009.25,7024.75,True
2018-06-01 16:17:00,7021.50,7024.50,7020.75,7024.00,812,7022.625,444,7008.50,7024.75,True